.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list-group-item:hover {
  color: #ff9900 !important;
}

#active-user-display {
  font-size: 12px;
  text-align: right;
  color: #ff9900;
}

.nav-link {
  color: #ff9900;
}

.nav-link:hover {
  color: #fcba03;
}

.btn-primary {
  background-color: #ff9900 !important;
  border: #ff9900 !important;
}

.btn-primary:hover {
  background-color: #fcba03 !important;
  border: #fcba03 !important;
}

.card {
  width: 20rem !important;
  min-width: 20rem !important;
  max-width: 20rem !important;
  margin: 4rem;
}

.card-footer {
  background-color: #fff !important;
  border-top: none !important;
}

.list-group-item {
  border: none !important;
}

.list-group-item a {
  color: #ff9900;
}

.list-group-item a:hover {
  color: #fcba03;
  text-decoration: none;
}

#home-page-title {
  color: #ff9900;
  margin-top: 2rem;
}
